// @import "bootstrap/scss/bootstrap.scss";
@import 'bootstrap/scss/functions'; // Required

// variables should go here. After functions and before rest other imports

@import 'bootstrap/scss/variables'; // Required
@import 'bootstrap/scss/mixins'; // Required
@import 'bootstrap/scss/root'; // Required
@import 'bootstrap/scss/reboot'; // Required
@import 'bootstrap/scss/transitions'; // Required for accordion
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/utilities/api';

// Component imports
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/forms';

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

pre {
  font-size: 17px;
  background-color: #f3f0f0;
  padding: 20px;
  border-radius: 5px;
}

ul.notes-points {
  list-style-type: '-  ';
  list-style-position: inside;
  padding-left: 15px;
  li {
    margin-bottom: 5px;
  }
}
